.voterFeature {
	width: 20px;
	text-align: center;
}

.glyphicon-menu-up {
	font-size: 20px;
}

.votes {
	font-size: 16px;
	color: blue;

}

.vote-button {
	cursor: pointer;
}

.glyphicon-menu-down {
	font-size: 20px;
}

.highlighted {
	color: orange;
}